<ion-header>
  <ion-navbar>
    <ion-title>
      <%= name %>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button color="secondary" icon-end="" ion-button="" (click)="showCreateModal()"
    class="disable-hover button button-ios button-default button-default-ios button-ios-dark">
    <span class="button-inner">
      Create item
      <ion-icon name="add" role="img" class="icon icon-ios ion-ios-add" aria-label="add"></ion-icon>
    </span>
    <div class="button-effect"></div>
  </button>

  <ion-label>Items list</ion-label>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <h2>{{ item.name }}</h2>
      <p>{{ item.type }}</p>
      <button ion-button clear item-end (click)="popoverItem(item)">
        <ion-icon name="more" style="font-size: 2.5rem"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
